<app-not-found
    [visible]="!food"
    notFoundMessage="Food Not Found"
    resetLinkText="Back ToHome Page">
</app-not-found>
<div *ngIf="food" class="container">{{food}}
    <img [src]="food.imageUrl" [alt]="food.name">
    <div class="details">
        <div class="header">
            <span class="name">
                {{food.name}}
            </span>
            <span class="favorite {{food.favorite? '': 'not'}} ">❤</span>
        </div>
        <div class="orgins">
            <span *ngFor="let orgin of food.origins">
                {{orgin}}
            </span>
        </div>
        <div class="tags">
            <a *ngFor="let tag of food.tags" routerLink="/tag{{tag}}">
                {{tag}}
            </a>
        </div>

        <div class="cook-time">
            <span>
                Time To cook about <strong>{{food.cookTime}}</strong>minutes
            </span>
        </div>

        <div class="price">
            <span>
                {{food.price | currency}}
            </span>
        </div>
        <button (click)="addToCart()">Add to Cart</button>
    </div>
</div>